.container {
  width:1080px;
}
body{
background-color: #EAEBED;
}
header {
  text-align:center;
  font-family: 'Open+Sans:wght@300', sans-serif;
  font-size: 16px;

}
header img{
  float: left;
}
a {
  color: #333;
  text-decoration: none;
}
h1 {
color: #2e424d;
font-family: 'Open Sans', sans-serif;

font-size: 60px;

}

section,aside {
  
  padding: 2px;
 
}
.Estilos{
  
  padding: 10%;
  box-sizing: border-box;
  background-color: #E1E0E7;

  
}

section {
  float: left;
  width: 50%;
  padding-top: 0.5%;
}
#due{
  float: right;
 
  box-sizing: border-box;
 
  border-color: #2e424d;
 
  
}
div img{
  float: right;
  width: 700px;
  padding-right: 0.2%;
  padding-top: 3%;
  
}


section p {
font-family: 'Open Sans', sans-serif;
}
section a{
  font-family: 'Open Sans', sans-serif;
 background-color: #2e424d;
  color:#EAEBED ;
  font-size: 16px;
  padding: 0.3em 3em;
  border-radius: 15px;
  border-style: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin:20px


 
}




nav {
  padding:0.2%;
  
  margin-top: 0.5%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
}


nav ul li a {
 display:inline-block;

 text-decoration:none;


  padding:6px 15px;
  margin:2px;
  
  
}
footer {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background-color: #333;
  text-align: center;
}
footer a {
  color: #fff;
}

h2 {
  color: #3d5967;
}
/* pantalla maximo 980px */
@media screen and (max-width:980px) {
  .container {
    width:98%;
  }
  section {
    width:68%;
  }
}
 
/* pantalla maximo 700px */
@media screen and (max-width:700px) {
  aside,section {
    float:none;
    width:96%;
    font-size:1.2em;
  }
  nav, section {
    font-size:1.2em;
  }
  aside {
    margin-top:5px;
    background:#333;
    color: #fff;
  }
  nav ul {
    float:none;
    clear:both;
  }
}
 
 
/* pantalla maximo 480px */
@media screen and (max-width:480px) {
  aside {
    display:block;
    background:#333;
    color: #fff;
    font-size:1.5em;
  }
  nav, section {
    font-size:1.5em;
  }
  section {
    width:94%;
  }
  nav ul {
    display: table;
    text-align: center;
    float: none;
    width:100%;
  }
  nav ul li {
    float:none;
  }
}